<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 配置命名空间，区别映射文件的名称 -->
<mapper namespace="com.ldp.itcast.mapper.CourtyardMapper">
	<resultMap type="com.ldp.itcast.domain.Courtyard" id="CourtyardMap">
		<id property="i_id" column="i_id"/>
		<result property="iname" column="iname"/>
	</resultMap>
	<resultMap type="com.ldp.itcast.domain.Courtyard" id="TeacherMap" extends="CourtyardMap">
		<collection property="teachers" ofType="com.ldp.itcast.domain.Teacher">
			<id property="t_id" column="t_id"/>
			<result property="tname" column="tname"/>
			<result property="sex" column="sex"/>
			<result property="date" column="date"/>
			<result property="Idcard" column="Idcard"/>
			<result property="census" column="census"/>
			<result property="nation" column="nation"/>
			<result property="politics" column="politics"/>
			<result property="background" column="background"/>
			<result property="password" column="password"/>
		</collection>
	</resultMap>
	
	
	<!-- 插入院级信息 -->
	<insert id="insert" parameterType="com.ldp.itcast.domain.Courtyard">
		insert into Courtyard
		(iname)
		values(
		#{iname,jdbcType=VARCHAR}
		)
	</insert>
	
	
	<!-- 查询教师信息是否存在 -->
	<!-- resultMap="TeacherMap" 可能会出现com.ldp.itcast.domain.Courtyard cannot be cast to com.ldp.itcast.domain.Teacher 这样的错误，不知道为什么 -->
	<select id="findTeacherId" parameterType="int" resultType="com.ldp.itcast.domain.Teacher">
		select * from Teacher where t_id=#{t_id}
	</select>
	
	<!-- 查询出院里的所有老师 -->
	<select id="findTeacherList" parameterType="int" resultType="com.ldp.itcast.domain.Teacher">
		select * from Teacher where i_id=#{i_id}
	</select>
	
	
	<!-- 查询老师信息 -->
	<select id="findTeacherById" parameterType="map" resultType="com.ldp.itcast.domain.Teacher">
		select * from Teacher 
		where 1=1
		<if test="t_id!=null">and t_id=#{t_id}</if>
		<if test="password!=null">and password=#{password}</if>
	</select>
	
	
	<!-- 更新教师信息 -->
	<update id="updateTeacherT_id" parameterType="com.ldp.itcast.domain.Teacher">
	 <!-- [t_id=745420, tname=熊启军, sex=男, date=1965-08-08, Idcard=null, 
	 census=湖北省-襄阳市-襄城区, nation=汉族, politics=党员,
	  background=教授, password=null] -->
		update Teacher
		<set>
			<if test="sex!=null">sex=#{sex},</if>
			<if test="date!=null">date=#{date},</if>
			<if test="census!=null">census=#{census},</if>
			<if test="nation!=null">nation=#{nation}</if>
		</set>
		where t_id=#{t_id}
	</update>
	
	
	<!-- 插入教师信息 -->
	<insert id="saveTeacher" parameterType="map">
		insert into Teacher(t_id,tname,sex,nation,date,Idcard,census,politics,background,i_id,password)
		values(
		#{teacher.t_id},#{teacher.tname},#{teacher.sex},#{teacher.nation},
		#{teacher.date},#{teacher.Idcard},#{teacher.census},
		#{teacher.politics},#{teacher.background},#{i_id},#{teacher.password}
		)
	</insert>
	
	
	<!-- 查询院级信息 -->
	<select id="findCourtyardAll" resultMap="CourtyardMap">
	 select * from Courtyard
	</select>
	
	<!-- 根据教师ID查询出它的所有课程 -->
	<select id="findTeacherCourseById" parameterType="int" resultType="com.ldp.itcast.domain.Course">
		select * from Course 
		where c_id in(select c_id from Teacher_Course where t_id=#{t_id});
	</select>
</mapper>