<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 配置命名空间，区别映射文件的名称 -->
<mapper namespace="com.ldp.itcast.mapper.StudentMapper">
	<resultMap type="com.ldp.itcast.domain.Student" id="StudentMap">
		<id property="s_id" column="s_id"/>
		<result property="sname" column="sname"/>
		<result property="sex" column="sex"/>
		<result property="grade" column="grade"/>
		<result property="status" column="status"/>
		<result property="date" column="date"/>
		<result property="password" column="password"/>
	</resultMap>
	
	
	<resultMap type="com.ldp.itcast.domain.Course" id="CourseMap">
		<id property="c_id" column="c_id"/>
		<id property="cname" column="cname"/>
	</resultMap>
	
	<!-- 查询所有的学生 -->
	<select id="findAllStudent" parameterType="map" resultMap="StudentMap">
		select * from Student
		where 1=1
		<if test="id!=null">and s_id=#{id}</if>
		<if test="password!=null"> and password=#{password}</if>
	</select>
	<!-- 更新学生个人信息: -->
	<update id="updatePersonStudent" parameterType="com.ldp.itcast.domain.Student">
		update Student	
		<set>
			<if test="password!=null">password=#{password}</if>
		</set>
		where s_id=#{s_id}
	</update>
	
	<!-- 查询班级 -->
	<select id="findStudentGrade" resultType="com.ldp.itcast.domain.Grade">
		select distinct grade from Student
	</select>
	
	<!-- 检测Grade和课程是否存在 -->
	<select id="findStudentGradeResult" resultType="int" parameterType="map">
		select count(*) from Student_Course where grade=#{grade} and c_id=#{c_id}
	</select>
	
	<!-- 建立学生和课程之间的联系 -->
	<insert id="CollectionStudentAndCourse" parameterType="map">
		insert into Student_Course values(#{grade},#{c_id})
	</insert>
	
	
	<!-- 通过院i_id查询ID -->
	<select id="findGradeI_id" resultType="com.ldp.itcast.domain.Grade" parameterType="int">
		select grade from Courtyard_Grade where i_id=#{i_id}
	</select>
	
	<!-- 注册学生信息 -->
	<insert id="saveStudent" parameterType="com.ldp.itcast.domain.Student">
		insert into Student
		values(#{s_id},#{sname},#{sex},#{grade},#{status},#{date},#{password})
	</insert>
	
	<select id="findStudentCount" parameterType="int" resultType="int">
		select count(*) from Student where s_id=#{s_id}
	</select>
	
	<!-- Course操作 -->
	<insert id="saveCourse" parameterType="com.ldp.itcast.domain.Course">
		insert into Course(cname)
		values(#{cname})
	</insert>
	<!-- 检测该客户是否存在，返回数量 -->
	<select id="findCourseName" parameterType="String" resultType="int">
		select count(*) from Course where cname=#{cname}
	</select>
	<!-- 根据条件查询课程 -->
	<select id="findCourseCondition" parameterType="map" resultType="com.ldp.itcast.domain.Course">
		select * from Course
		where 1=1
		<if test="c_id!=null">and c_id=#{c_id}</if>
		<if test="cname!=null">and cname=#{cname}</if>
	</select>
	<!-- 查询所有的课程集合，并返回 -->
	<select id="findCourseAll" resultType="com.ldp.itcast.domain.Course">
		select * from Course
	</select>
	<!-- 根据学生登录，返回学生所有的课程集合 -->
		<select id="findLonginCourse" parameterType="int" resultType="com.ldp.itcast.domain.Course">
			select * from Course
			where c_id in(
			 	select c_id from Student_Course where grade in(
					select grade from Student where s_id=#{c_id}
				)
			)
		</select>
	<!-- 添加教师和课程的关系 -->
	<insert id="CollectionTeacheCourse" parameterType="map">
		insert into Teacher_Course
		value(#{t_id},#{c_id})
	</insert>
	
	<!-- 检测教师课程目录是否存在 -->
	<select id="CollectionTeacherCourseResult" parameterType="map" resultType="int">
		select count(*) from Teacher_Course where t_id=#{t_id} and c_id=#{c_id}
	</select>
</mapper>