<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 配置命名空间，区别映射文件的名称 -->
<mapper namespace="com.ldp.itcast.mapper.ManagerMapper">
	<resultMap type="com.ldp.itcast.domain.Manager" id="ManagerMp">
		<id property="m_id" column="m_id"/>
		<result property="mname" column="mname"/>
		<result property="password" column="password"/>
	</resultMap>
	<!-- 查询管理员信息 -->
	<select id="findManagerById" parameterType="com.ldp.itcast.domain.Manager" resultType="com.ldp.itcast.domain.Manager">
		select * from Manager
		where 1=1
		<if test="m_id!=null">and m_id=#{m_id}</if>
		<if test="mname!=null">and mname=#{mname}</if>
		<if test="password!=null">and password=#{password}</if>
	</select>
	<!-- 查询问题，显示在评价主页 -->
	<select id="findQuestions" resultType="String">
		select content from Questions
	</select>
	
	<!-- 查找问题选项，进行更新选项 -->
	<select id="findAllQuestions" parameterType="map" resultType="com.ldp.itcast.domain.Question">
		select * from Questions
		where 1=1
		<if test="id!=null">and id=#{id}</if>
	</select>
	<!-- 增加问题选项 -->
	<insert id="addQuestion" parameterType="String">
		insert into Questions values(null,#{content})
	</insert>
	<!-- 删除问题选项-->
	<delete id="deleteQuestion" parameterType="int">
		delete from Questions where id=#{id}
	</delete>
	<!-- 更新选项 -->
	<update id="updateQuestion" parameterType="com.ldp.itcast.domain.Question">
		update Questions
		<set>
			<if test="content!=null">content=#{content}</if>
		</set>
		where id=#{id}
	</update>
</mapper>